apps/reports/n8n-workflow-combined.json
{
  "name": "Chatwoot Reports – All in One",
  "nodes": [

    {
      "id": "node-manual-000",
      "name": "Run Manually",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 60],
      "parameters": {}
    },

    {
      "id": "node-sched-001",
      "name": "Every Hour",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 180],
      "parameters": {
        "rule": {
          "interval": [{ "field": "hours", "hoursInterval": 1 }]
        }
      }
    },

    {
      "id": "node-wh-002",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 480],
      "webhookId": "chatwoot-reports-main",
      "parameters": {
        "httpMethod": "GET",
        "path": "chatwoot-reports",
        "responseMode": "responseNode",
        "options": {}
      }
    },

    {
      "id": "node-set-003",
      "name": "Set Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [460, 180],
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            { "id": "cfg-1", "name": "baseUrl",   "value": "https://chat.phaseelec.cloud", "type": "string" },
            { "id": "cfg-2", "name": "accountId", "value": "1", "type": "string" },
            { "id": "cfg-3", "name": "apiToken",  "value": "YOUR_API_ACCESS_TOKEN_HERE", "type": "string" },
            { "id": "cfg-4", "name": "since",     "value": "={{ Math.floor((Date.now() - 48 * 60 * 60 * 1000) / 1000) }}", "type": "string" },
            { "id": "cfg-5", "name": "until",     "value": "={{ Math.floor(Date.now() / 1000) }}", "type": "string" },
            { "id": "cfg-6", "name": "groupBy",   "value": "hour", "type": "string" }
          ]
        },
        "options": {}
      }
    },

    {
      "id": "node-http-004",
      "name": "Fetch Account Summary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 180],
      "parameters": {
        "method": "GET",
        "url": "={{ $('Set Config').first().json.baseUrl + '/api/v2/accounts/' + $('Set Config').first().json.accountId + '/reports/summary' }}",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "api_access_token", "value": "={{ $('Set Config').first().json.apiToken }}" }] },
        "sendQuery": true,
        "queryParameters": { "parameters": [
          { "name": "type",  "value": "account" },
          { "name": "since", "value": "={{ $('Set Config').first().json.since }}" },
          { "name": "until", "value": "={{ $('Set Config').first().json.until }}" }
        ]},
        "options": {}
      }
    },

    {
      "id": "node-wait-a",
      "name": "Wait A – 2s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [900, 180],
      "parameters": { "resume": "timeInterval", "amount": 2, "unit": "seconds" }
    },

    {
      "id": "node-http-005",
      "name": "Fetch Conv Volume",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 180],
      "parameters": {
        "method": "GET",
        "url": "={{ $('Set Config').first().json.baseUrl + '/api/v2/accounts/' + $('Set Config').first().json.accountId + '/reports' }}",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "api_access_token", "value": "={{ $('Set Config').first().json.apiToken }}" }] },
        "sendQuery": true,
        "queryParameters": { "parameters": [
          { "name": "metric",   "value": "conversations_count" },
          { "name": "type",     "value": "account" },
          { "name": "since",    "value": "={{ $('Set Config').first().json.since }}" },
          { "name": "until",    "value": "={{ $('Set Config').first().json.until }}" },
          { "name": "group_by", "value": "={{ $('Set Config').first().json.groupBy }}" }
        ]},
        "options": {}
      }
    },

    {
      "id": "node-wait-b",
      "name": "Wait B – 2s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [1340, 180],
      "parameters": { "resume": "timeInterval", "amount": 2, "unit": "seconds" }
    },

    {
      "id": "node-http-006",
      "name": "Fetch Resolution Trend",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1560, 180],
      "parameters": {
        "method": "GET",
        "url": "={{ $('Set Config').first().json.baseUrl + '/api/v2/accounts/' + $('Set Config').first().json.accountId + '/reports' }}",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "api_access_token", "value": "={{ $('Set Config').first().json.apiToken }}" }] },
        "sendQuery": true,
        "queryParameters": { "parameters": [
          { "name": "metric",   "value": "resolutions_count" },
          { "name": "type",     "value": "account" },
          { "name": "since",    "value": "={{ $('Set Config').first().json.since }}" },
          { "name": "until",    "value": "={{ $('Set Config').first().json.until }}" },
          { "name": "group_by", "value": "={{ $('Set Config').first().json.groupBy }}" }
        ]},
        "options": {}
      }
    },

    {
      "id": "node-wait-c",
      "name": "Wait C – 2s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [1780, 180],
      "parameters": { "resume": "timeInterval", "amount": 2, "unit": "seconds" }
    },

    {
      "id": "node-http-007",
      "name": "Fetch Agents List",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2000, 180],
      "parameters": {
        "method": "GET",
        "url": "={{ $('Set Config').first().json.baseUrl + '/api/v1/accounts/' + $('Set Config').first().json.accountId + '/agents' }}",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "api_access_token", "value": "={{ $('Set Config').first().json.apiToken }}" }] },
        "options": {}
      }
    },

    {
      "id": "node-http-008",
      "name": "Fetch Teams List",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2220, 180],
      "parameters": {
        "method": "GET",
        "url": "={{ $('Set Config').first().json.baseUrl + '/api/v1/accounts/' + $('Set Config').first().json.accountId + '/teams' }}",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "api_access_token", "value": "={{ $('Set Config').first().json.apiToken }}" }] },
        "options": {}
      }
    },

    {
      "id": "node-http-009",
      "name": "Fetch Labels List",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2440, 180],
      "parameters": {
        "method": "GET",
        "url": "={{ $('Set Config').first().json.baseUrl + '/api/v1/accounts/' + $('Set Config').first().json.accountId + '/labels' }}",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "api_access_token", "value": "={{ $('Set Config').first().json.apiToken }}" }] },
        "options": {}
      }
    },

    {
      "id": "node-http-010",
      "name": "Fetch Inboxes List",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2660, 180],
      "parameters": {
        "method": "GET",
        "url": "={{ $('Set Config').first().json.baseUrl + '/api/v1/accounts/' + $('Set Config').first().json.accountId + '/inboxes' }}",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "api_access_token", "value": "={{ $('Set Config').first().json.apiToken }}" }] },
        "options": {}
      }
    },

    {
      "id": "node-wait-d",
      "name": "Wait D – 2s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [2880, 180],
      "parameters": { "resume": "timeInterval", "amount": 2, "unit": "seconds" }
    },

    {
      "id": "node-http-011",
      "name": "Fetch CSAT Reports",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "continueOnFail": true,
      "position": [3100, 180],
      "parameters": {
        "method": "GET",
        "url": "={{ $('Set Config').first().json.baseUrl + '/api/v1/accounts/' + $('Set Config').first().json.accountId + '/csat_survey_responses/metrics' }}",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "api_access_token", "value": "={{ $('Set Config').first().json.apiToken }}" }] },
        "sendQuery": true,
        "queryParameters": { "parameters": [
          { "name": "since", "value": "={{ $('Set Config').first().json.since }}" },
          { "name": "until", "value": "={{ $('Set Config').first().json.until }}" }
        ]},
        "options": {}
      }
    },

    {
      "id": "node-wait-e",
      "name": "Wait E – 2s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [3320, 180],
      "parameters": { "resume": "timeInterval", "amount": 2, "unit": "seconds" }
    },

    {
      "id": "node-http-012",
      "name": "Fetch Agent Conv Overview",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "continueOnFail": true,
      "position": [3540, 180],
      "parameters": {
        "method": "GET",
        "url": "={{ $('Set Config').first().json.baseUrl + '/api/v2/accounts/' + $('Set Config').first().json.accountId + '/reports/conversations' }}",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "api_access_token", "value": "={{ $('Set Config').first().json.apiToken }}" }] },
        "sendQuery": true,
        "queryParameters": { "parameters": [
          { "name": "since", "value": "={{ $('Set Config').first().json.since }}" },
          { "name": "until", "value": "={{ $('Set Config').first().json.until }}" }
        ]},
        "options": {}
      }
    },

    {
      "id": "node-wait-f",
      "name": "Wait F – 3s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [3760, 180],
      "parameters": { "resume": "timeInterval", "amount": 3, "unit": "seconds" }
    },

    {
      "id": "node-http-013",
      "name": "Fetch Team Conv Overview",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "continueOnFail": true,
      "position": [3980, 180],
      "parameters": {
        "method": "GET",
        "url": "={{ $('Set Config').first().json.baseUrl + '/api/v2/accounts/' + $('Set Config').first().json.accountId + '/summary_reports/team' }}",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "api_access_token", "value": "={{ $('Set Config').first().json.apiToken }}" }] },
        "sendQuery": true,
        "queryParameters": { "parameters": [
          { "name": "since", "value": "={{ $('Set Config').first().json.since }}" },
          { "name": "until", "value": "={{ $('Set Config').first().json.until }}" }
        ]},
        "options": {}
      }
    },

    {
      "id": "node-wait-g",
      "name": "Wait G – 3s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [4200, 180],
      "parameters": { "resume": "timeInterval", "amount": 3, "unit": "seconds" }
    },

    {
      "id": "node-http-014",
      "name": "Fetch Inbox Conv Overview",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "continueOnFail": true,
      "position": [4420, 180],
      "parameters": {
        "method": "GET",
        "url": "={{ $('Set Config').first().json.baseUrl + '/api/v2/accounts/' + $('Set Config').first().json.accountId + '/summary_reports/inbox' }}",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "api_access_token", "value": "={{ $('Set Config').first().json.apiToken }}" }] },
        "sendQuery": true,
        "queryParameters": { "parameters": [
          { "name": "since", "value": "={{ $('Set Config').first().json.since }}" },
          { "name": "until", "value": "={{ $('Set Config').first().json.until }}" }
        ]},
        "options": {}
      }
    },

    {
      "id": "node-http-015",
      "name": "Fetch Label Conv Overview",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "continueOnFail": true,
      "position": [4640, 180],
      "parameters": {
        "method": "GET",
        "url": "={{ $('Set Config').first().json.baseUrl + '/api/v2/accounts/' + $('Set Config').first().json.accountId + '/reports/inbox_label_matrix' }}",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "api_access_token", "value": "={{ $('Set Config').first().json.apiToken }}" }] },
        "sendQuery": true,
        "queryParameters": { "parameters": [
          { "name": "since", "value": "={{ $('Set Config').first().json.since }}" },
          { "name": "until", "value": "={{ $('Set Config').first().json.until }}" }
        ]},
        "options": {}
      }
    },

    {
      "id": "node-code-016",
      "name": "Build Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [4860, 180],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const cfg = $('Set Config').first().json;\n\nconst safeGet = (n) => {\n  try {\n    const j = $(n).first().json;\n    if (j?.error || j?.statusCode >= 400) return null;\n    return j;\n  } catch { return null; }\n};\n\nconst safeGetAll = (n) => {\n  try {\n    return $(n).all()\n      .map(i => i.json)\n      .filter(j => j && !j.error && !(j.statusCode >= 400));\n  } catch { return []; }\n};\n\nconst fmtSeconds = (s) => {\n  if (!s || isNaN(s)) return 'N/A';\n  s = Math.round(s);\n  if (s < 60) return s + 's';\n  if (s < 3600) return Math.floor(s/60) + 'm ' + (s%60) + 's';\n  return Math.floor(s/3600) + 'h ' + Math.floor((s%3600)/60) + 'm';\n};\n\nconst dedupeById    = (arr) => { const seen = new Set(); return arr.filter(x => { if (!x?.id || seen.has(x.id)) return false; seen.add(x.id); return true; }); };\nconst dedupeByTitle = (arr) => { const seen = new Set(); return arr.filter(x => { if (!x?.title || seen.has(x.title)) return false; seen.add(x.title); return true; }); };\nconst dedupeByTs    = (arr) => { const seen = new Set(); return arr.filter(x => { const k = x?.timestamp ?? x?.date; if (seen.has(k)) return false; seen.add(k); return true; }); };\n\nconst summary    = safeGet('Fetch Account Summary');\nconst convVolume = dedupeByTs(safeGetAll('Fetch Conv Volume'));\nconst resTrend   = dedupeByTs(safeGetAll('Fetch Resolution Trend'));\nconst rawAgents  = dedupeById(safeGetAll('Fetch Agents List'));\nconst rawTeams   = dedupeById(safeGetAll('Fetch Teams List'));\nconst _labelsRaw = safeGet('Fetch Labels List'); const rawLabels  = dedupeByTitle(Array.isArray(_labelsRaw?.payload) ? _labelsRaw.payload : safeGetAll('Fetch Labels List'));\nconst _inboxesRaw = safeGet('Fetch Inboxes List'); const rawInboxes = dedupeById(Array.isArray(_inboxesRaw?.payload) ? _inboxesRaw.payload : safeGetAll('Fetch Inboxes List'));\n// CSAT — handles both /metrics aggregate format and legacy individual-row format\nconst csatRaw  = safeGet('Fetch CSAT Reports');\nconst csatRows = Array.isArray(csatRaw?.data) ? csatRaw.data : [];\n// /metrics endpoint returns { total_count, ratings: { Satisfied, Neutral, Dissatisfied } }\nconst csatIsMetrics = csatRaw && csatRaw.total_count !== undefined;\nconst totalR   = csatIsMetrics ? (csatRaw.total_count ?? 0)   : csatRows.length;\nconst posCount = csatIsMetrics ? (csatRaw.ratings?.Satisfied ?? csatRaw.satisfaction_data?.Satisfied ?? 0) : csatRows.filter(r=>r.rating>=4).length;\nconst negCount = csatIsMetrics ? (csatRaw.ratings?.Dissatisfied ?? csatRaw.satisfaction_data?.Dissatisfied ?? 0) : csatRows.filter(r=>r.rating<=2).length;\nconst sumR     = csatIsMetrics ? 0 : csatRows.reduce((a,r) => a+(r.rating??0), 0);\n\n// Overview responses — summary_reports/team|inbox return arrays; inbox_label_matrix handled separately\nconst agentOvRaw = safeGet('Fetch Agent Conv Overview');\nconst agentOv  = Array.isArray(agentOvRaw) ? agentOvRaw : (Array.isArray(agentOvRaw?.data) ? agentOvRaw.data : safeGetAll('Fetch Agent Conv Overview'));\nconst teamOvRaw  = safeGet('Fetch Team Conv Overview');\nconst teamOv   = Array.isArray(teamOvRaw)  ? teamOvRaw  : (Array.isArray(teamOvRaw?.data)  ? teamOvRaw.data  : safeGetAll('Fetch Team Conv Overview'));\nconst inboxOvRaw = safeGet('Fetch Inbox Conv Overview');\nconst inboxOv  = Array.isArray(inboxOvRaw) ? inboxOvRaw : (Array.isArray(inboxOvRaw?.data) ? inboxOvRaw.data : safeGetAll('Fetch Inbox Conv Overview'));\nconst labelOvRaw = safeGet('Fetch Label Conv Overview');\nconst labelOv  = Array.isArray(labelOvRaw) ? labelOvRaw : (Array.isArray(labelOvRaw?.data) ? labelOvRaw.data : safeGetAll('Fetch Label Conv Overview'));\n\nconst agentRows = rawAgents.map(agent => {\n  const ov = agentOv.find(o=>o.id===agent.id)??{};\n  const ar  = csatRows.filter(r=>r.assigned_agent?.id===agent.id);\n  return {\n    id: agent.id, name: agent.name, email: agent.email,\n    availability: agent.availability_status,\n    assigned: ov.conversations_count??0,\n    resolved: ov.resolutions_count??0,\n    resolutionRate: ov.conversations_count ? Math.round((ov.resolutions_count/ov.conversations_count)*100) : 0,\n    avgFirstResponse:  fmtSeconds(ov.avg_first_response_time),\n    avgResolutionTime: fmtSeconds(ov.avg_resolution_time),\n    csatRating: ar.length ? (ar.reduce((a,r)=>a+r.rating,0)/ar.length).toFixed(1) : null\n  };\n});\n\nconst teamRows = rawTeams.map(team => {\n  const ov = teamOv.find(o=>o.id===team.id)??{};\n  return {\n    id: team.id, name: team.name, agentCount: team.agents_count??0,\n    conversations: ov.conversations_count??0, resolved: ov.resolutions_count??0,\n    resolutionRate: ov.conversations_count ? Math.round((ov.resolutions_count/ov.conversations_count)*100) : 0,\n    avgFirstResponse: fmtSeconds(ov.avg_first_response_time),\n    avgResolutionTime: fmtSeconds(ov.avg_resolution_time)\n  };\n});\n\nconst inboxRows = (Array.isArray(rawInboxes)?rawInboxes:[]).map(inbox => {\n  const ov = inboxOv.find(o=>o.id===inbox.id)??{};\n  return {\n    id: inbox.id, name: inbox.name, channelType: inbox.channel_type,\n    conversations: ov.conversations_count??0, resolved: ov.resolutions_count??0,\n    pending: ov.open_conversations_count??0,\n    avgFirstResponse: fmtSeconds(ov.avg_first_response_time),\n    avgResolutionTime: fmtSeconds(ov.avg_resolution_time)\n  };\n});\n\nconst labelRows = (Array.isArray(rawLabels)?rawLabels:[]).map(label => {\n  const ov = labelOv.find(o=>o.id===label.id||o.title===label.title)??{};\n  return {\n    id: label.id, title: label.title, color: label.color,\n    conversations: ov.conversations_count??0, resolved: ov.resolutions_count??0,\n    avgResolutionTime: fmtSeconds(ov.avg_resolution_time)\n  };\n});\n\nreturn [{ json: {\n  meta: {\n    generatedAt: new Date().toISOString(),\n    period: { since: cfg.since, until: cfg.until, groupBy: cfg.groupBy }\n  },\n  summary: {\n    totalConversations: summary?.conversations_count??0,\n    resolved:           summary?.resolutions_count??0,\n    incomingMessages:   summary?.incoming_messages_count??0,\n    outgoingMessages:   summary?.outgoing_messages_count??0,\n    avgFirstResponse:   fmtSeconds(summary?.avg_first_response_time),\n    avgResolutionTime:  fmtSeconds(summary?.avg_resolution_time),\n    replyTime:          fmtSeconds(summary?.reply_time)\n  },\n  charts: {\n    conversationVolume: convVolume.map(p=>({ date: new Date(p.timestamp*1000).toLocaleDateString('en-US',{hour:'2-digit',hour12:false}), value: p.value })),\n    resolutionTrend:    resTrend.map(p=>({ date: new Date(p.timestamp*1000).toLocaleDateString('en-US',{hour:'2-digit',hour12:false}), value: p.value }))\n  },\n  csat: {\n    score: totalR>0?Math.round((posCount/totalR)*100):null,\n    avgRating: (!csatIsMetrics && totalR>0) ? parseFloat((sumR/totalR).toFixed(1)) : null,\n    totalResponses: totalR, positive: posCount, negative: negCount,\n    neutral: csatIsMetrics ? (csatRaw.ratings?.Neutral ?? csatRaw.satisfaction_data?.Neutral ?? 0) : csatRows.filter(r=>r.rating===3).length,\n    ratingDistribution: csatIsMetrics\n      ? [\n          { label: 'Satisfied',    count: csatRaw.ratings?.Satisfied    ?? 0, pct: totalR>0?Math.round((csatRaw.ratings?.Satisfied??0)/totalR*100):0 },\n          { label: 'Neutral',      count: csatRaw.ratings?.Neutral      ?? 0, pct: totalR>0?Math.round((csatRaw.ratings?.Neutral??0)/totalR*100):0 },\n          { label: 'Dissatisfied', count: csatRaw.ratings?.Dissatisfied ?? 0, pct: totalR>0?Math.round((csatRaw.ratings?.Dissatisfied??0)/totalR*100):0 }\n        ]\n      : [5,4,3,2,1].map(star=>({\n          stars: star,\n          count: csatRows.filter(r=>r.rating===star).length,\n          pct: totalR>0?Math.round(csatRows.filter(r=>r.rating===star).length/totalR*100):0\n        })),\n    recentResponses: csatRows.slice(0,50).map(r=>({\n      rating: r.rating, feedback: r.feedback_message,\n      agent: r.assigned_agent?.name??'Unassigned',\n      contact: r.contact?.name??'Unknown', createdAt: r.created_at\n    }))\n  },\n  agents: agentRows, teams: teamRows, inboxes: inboxRows, labels: labelRows\n}}];\n"
      }
    },

    {
      "id": "node-code-017",
      "name": "Tag Cache",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [5080, 180],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const now = new Date();\nconst data = $input.first().json;\nreturn [{ json: {\n  ...data,\n  _savedAt:     now.toISOString(),\n  _nextRefresh: new Date(now.getTime() + 60 * 60 * 1000).toISOString()\n}}];\n"
      }
    },

    {
      "id": "node-http-drive-save",
      "name": "Save to Drive",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [5300, 180],
      "parameters": {
        "method": "PATCH",
        "url": "https://www.googleapis.com/upload/drive/v3/files/1--12qjqVzXeKSKmukVEJMGkmTjcoU935?uploadType=media",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify($input.first().json) }}",
        "options": {}
      },
      "credentials": {
        "googleDriveOAuth2Api": { "name": "Google Drive account" }
      }
    },

    {
      "id": "node-http-drive-read",
      "name": "Read from Drive",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 480],
      "parameters": {
        "method": "GET",
        "url": "https://www.googleapis.com/drive/v3/files/1--12qjqVzXeKSKmukVEJMGkmTjcoU935?alt=media",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "options": {}
      },
      "credentials": {
        "googleDriveOAuth2Api": { "name": "Google Drive account" }
      }
    },

    {
      "id": "node-code-018",
      "name": "Add Age",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 480],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const data = $input.first().json;\n\nif (!data || !data._savedAt) {\n  return [{ json: {\n    _cacheStatus: 'missing',\n    _cacheError:  'Google Drive file is empty. Run the collection workflow first (Run Manually trigger).'\n  }}];\n}\n\nconst ageMs      = Date.now() - new Date(data._savedAt).getTime();\nconst ageMinutes = Math.floor(ageMs / 60000);\nconst isStale    = ageMs > 2 * 60 * 60 * 1000;\n\nreturn [{ json: {\n  ...data,\n  _cache: {\n    status:      isStale ? 'stale' : 'fresh',\n    cachedAt:    data._savedAt,\n    nextRefresh: data._nextRefresh,\n    ageMinutes\n  }\n}}];\n"
      }
    },

    {
      "id": "node-resp-019",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [900, 480],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($input.first().json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Content-Type",                "value": "application/json" },
              { "name": "Access-Control-Allow-Origin", "value": "*" },
              { "name": "Cache-Control",               "value": "public, max-age=300" }
            ]
          }
        }
      }
    },

    {
      "id": "node-http-drive-read-debug",
      "name": "Read from Drive (debug)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 660],
      "parameters": {
        "method": "GET",
        "url": "https://www.googleapis.com/drive/v3/files/1--12qjqVzXeKSKmukVEJMGkmTjcoU935?alt=media",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "options": {}
      },
      "credentials": {
        "googleDriveOAuth2Api": { "name": "Google Drive account" }
      }
    },

    {
      "id": "node-wh-debug",
      "name": "Webhook Debug",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 780],
      "webhookId": "chatwoot-reports-debug",
      "parameters": {
        "httpMethod": "GET",
        "path": "chatwoot-reports-debug",
        "responseMode": "responseNode",
        "options": {}
      }
    },

    {
      "id": "node-code-debug",
      "name": "Debug Status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 780],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const data = $input.first().json;\n\nconst esc = (s) => String(s ?? '').replace(/&/g,'&amp;').replace(/</g,'&lt;').replace(/>/g,'&gt;');\n\nif (!data || !data._savedAt) {\n  const html = `<!DOCTYPE html><html><head><title>Chatwoot Reports – Cache Status</title><style>body{font-family:sans-serif;padding:40px;background:#1a1a2e;color:#eee}h1{color:#e74c3c}.empty{background:#2d2d44;padding:20px;border-radius:8px;border-left:4px solid #e74c3c}</style></head><body><h1>Cache Status</h1><div class=\"empty\"><strong>Google Drive file is empty.</strong><br><br>The collection workflow has not run yet.<br><br><b>Fix:</b><ol><li>Make sure the workflow is <b>Active</b></li><li>Click the <b>\"Run Manually\"</b> trigger node → <b>Execute workflow</b></li><li>Wait ~30s, then reload this page</li></ol></div></body></html>`;\n  return [{ json: { html } }];\n}\n\nconst ageMs      = Date.now() - new Date(data._savedAt).getTime();\nconst ageMinutes = Math.floor(ageMs / 60000);\nconst isStale    = ageMs > 2 * 60 * 60 * 1000;\nconst statusColor = isStale ? '#e67e22' : '#2ecc71';\nconst statusLabel = isStale ? 'STALE' : 'FRESH';\n\nconst summary    = data.summary ?? {};\nconst agentCount = (data.agents ?? []).length;\nconst teamCount  = (data.teams ?? []).length;\nconst inboxCount = (data.inboxes ?? []).length;\nconst payloadSize = Math.round(JSON.stringify(data).length / 1024);\nconst nextRefresh = data._nextRefresh ? new Date(data._nextRefresh).toLocaleString() : 'unknown';\n\nconst html = `<!DOCTYPE html><html><head><title>Chatwoot Reports – Cache Status</title><style>body{font-family:sans-serif;padding:40px;background:#1a1a2e;color:#eee;max-width:800px;margin:0 auto}h1{color:#a29bfe}h2{color:#74b9ff;margin-top:32px}.card{background:#2d2d44;padding:20px;border-radius:8px;margin:16px 0}.badge{display:inline-block;padding:4px 12px;border-radius:20px;font-weight:bold;font-size:14px}.grid{display:grid;grid-template-columns:repeat(3,1fr);gap:12px}.metric{background:#1e1e35;padding:16px;border-radius:6px;text-align:center}.metric .val{font-size:28px;font-weight:bold;color:#a29bfe}.metric .lbl{font-size:12px;color:#aaa;margin-top:4px}pre{background:#111;padding:16px;border-radius:6px;overflow:auto;max-height:400px;font-size:12px}a{color:#74b9ff}</style></head><body><h1>Chatwoot Reports – Cache Status</h1><div class=\"card\"><p>Status: <span class=\"badge\" style=\"background:${statusColor};color:#000\">${statusLabel}</span></p><p><b>Saved at:</b> ${esc(data._savedAt)}</p><p><b>Age:</b> ${ageMinutes} minutes</p><p><b>Next refresh:</b> ${esc(nextRefresh)}</p><p><b>Payload size:</b> ${payloadSize} KB</p><p><b>Data endpoint:</b> <a href=\"/webhook/chatwoot-reports\" target=\"_blank\">/webhook/chatwoot-reports</a></p></div><h2>Summary Metrics</h2><div class=\"grid\"><div class=\"metric\"><div class=\"val\">${esc(summary.totalConversations)}</div><div class=\"lbl\">Conversations</div></div><div class=\"metric\"><div class=\"val\">${esc(summary.resolved)}</div><div class=\"lbl\">Resolved</div></div><div class=\"metric\"><div class=\"val\">${esc(summary.avgResolutionTime)}</div><div class=\"lbl\">Avg Resolution</div></div><div class=\"metric\"><div class=\"val\">${agentCount}</div><div class=\"lbl\">Agents</div></div><div class=\"metric\"><div class=\"val\">${teamCount}</div><div class=\"lbl\">Teams</div></div><div class=\"metric\"><div class=\"val\">${inboxCount}</div><div class=\"lbl\">Inboxes</div></div></div><h2>Raw Payload</h2><pre>${esc(JSON.stringify(data, null, 2))}</pre></body></html>`;\n\nreturn [{ json: { html } }];\n"
      }
    },

    {
      "id": "node-resp-debug",
      "name": "Respond Debug",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [900, 780],
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $input.first().json.html }}",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Content-Type", "value": "text/html; charset=utf-8" }
            ]
          }
        }
      }
    }

  ],

  "connections": {
    "Run Manually":            { "main": [[{ "node": "Set Config",              "type": "main", "index": 0 }]] },
    "Every Hour":              { "main": [[{ "node": "Set Config",              "type": "main", "index": 0 }]] },
    "Set Config":              { "main": [[{ "node": "Fetch Account Summary",   "type": "main", "index": 0 }]] },
    "Fetch Account Summary":   { "main": [[{ "node": "Wait A – 2s",             "type": "main", "index": 0 }]] },
    "Wait A – 2s":             { "main": [[{ "node": "Fetch Conv Volume",        "type": "main", "index": 0 }]] },
    "Fetch Conv Volume":       { "main": [[{ "node": "Wait B – 2s",             "type": "main", "index": 0 }]] },
    "Wait B – 2s":             { "main": [[{ "node": "Fetch Resolution Trend",  "type": "main", "index": 0 }]] },
    "Fetch Resolution Trend":  { "main": [[{ "node": "Wait C – 2s",             "type": "main", "index": 0 }]] },
    "Wait C – 2s":             { "main": [[{ "node": "Fetch Agents List",       "type": "main", "index": 0 }]] },
    "Fetch Agents List":       { "main": [[{ "node": "Fetch Teams List",        "type": "main", "index": 0 }]] },
    "Fetch Teams List":        { "main": [[{ "node": "Fetch Labels List",       "type": "main", "index": 0 }]] },
    "Fetch Labels List":       { "main": [[{ "node": "Fetch Inboxes List",      "type": "main", "index": 0 }]] },
    "Fetch Inboxes List":      { "main": [[{ "node": "Wait D – 2s",             "type": "main", "index": 0 }]] },
    "Wait D – 2s":             { "main": [[{ "node": "Fetch CSAT Reports",      "type": "main", "index": 0 }]] },
    "Fetch CSAT Reports":      { "main": [[{ "node": "Wait E – 2s",             "type": "main", "index": 0 }]] },
    "Wait E – 2s":             { "main": [[{ "node": "Fetch Agent Conv Overview","type": "main", "index": 0 }]] },
    "Fetch Agent Conv Overview": { "main": [[{ "node": "Wait F – 3s",               "type": "main", "index": 0 }]] },
    "Wait F – 3s":               { "main": [[{ "node": "Fetch Team Conv Overview",  "type": "main", "index": 0 }]] },
    "Fetch Team Conv Overview":  { "main": [[{ "node": "Wait G – 3s",               "type": "main", "index": 0 }]] },
    "Wait G – 3s":               { "main": [[{ "node": "Fetch Inbox Conv Overview", "type": "main", "index": 0 }]] },
    "Fetch Inbox Conv Overview": { "main": [[{ "node": "Fetch Label Conv Overview", "type": "main", "index": 0 }]] },
    "Fetch Label Conv Overview": { "main": [[{ "node": "Build Response",            "type": "main", "index": 0 }]] },
    "Build Response":            { "main": [[{ "node": "Tag Cache",                 "type": "main", "index": 0 }]] },
    "Tag Cache":                 { "main": [[{ "node": "Save to Drive",             "type": "main", "index": 0 }]] },
    "Webhook":                   { "main": [[{ "node": "Read from Drive",           "type": "main", "index": 0 }]] },
    "Read from Drive":           { "main": [[{ "node": "Add Age",                   "type": "main", "index": 0 }]] },
    "Add Age":                   { "main": [[{ "node": "Respond to Webhook",        "type": "main", "index": 0 }]] },
    "Webhook Debug":             { "main": [[{ "node": "Read from Drive (debug)",   "type": "main", "index": 0 }]] },
    "Read from Drive (debug)":   { "main": [[{ "node": "Debug Status",              "type": "main", "index": 0 }]] },
    "Debug Status":              { "main": [[{ "node": "Respond Debug",             "type": "main", "index": 0 }]] }
  },

  "active": true,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "tags": [{ "name": "chatwoot" }, { "name": "reports" }],
  "pinData": {}
}
